DISCORD_TOKEN=
DISCORD_SERVER_ID=
DISCORD_MAIN_CHANNEL_ID=
DISCORD_JUKEBOX_ROLE_ID=
DISCORD_JUKEBOX_CONTROL_ENABLED=TRUE
AUTH_USER=
AUTH_PASSWORD=
JUKEBOX_USERNAME-=
JUKEBOX_PASSWORD-=
MANAGER_URL=http://localhost:8080/api
JUKEBOX_URL=http://localhost:8888
DB_PATH=bot.db
MEME_NAME_CHANGER_USER_ID=
GOOGLE_DRIVE_UPLOAD_DIRECTORY_ID=
ARCHIVE_CHANNEL_IMAGES_TMP_DIR_PATH="tmp/archiveChannelImages" # This Directory WILL BE DELETED during the archive function
GOOGLE_KEY_JSON_BASE64=